* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.imagen-logo{
    height: 50px;
    width: 90px;
}
.form-content{
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: auto;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    background: url('https://imgs.search.brave.com/e9IiuQex0Xq7T52rwbEjUSouaLy4eTc220mx9U3hVLI/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDI1MzQ5/NTUuanBn');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.firstShowcase{
    width: 100%;
    height: 73vh;
    background: url('https://imgs.search.brave.com/5SeosG1ex95zgsvEbkI_rIvyprfpCZU4iGZVrbIov4Q/rs:fit:1200:900:1/g:ce/aHR0cHM6Ly8zLmJw/LmJsb2dzcG90LmNv/bS8tUHVtVGpFOGxF/TTAvV001cnlXaUNZ/eUkvQUFBQUFBQUFB/T0kvV0pFSjc2V3VW/cklEZTZkQndQQkVB/TDVqWmUtczZmc05B/Q0xjQi9zMTYwMC9G/b25kbyUyQmRlJTJC/cGFudGFsbGElMkJw/ZXJyb3MlMkI1Lmpw/Zw') no-repeat center;
    background-size: cover;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.firstShowcase.content{
    width: 100%;
    padding: 90px 20px 20px 30px;
    color: #ffffff;
    font-size: 10rem;
}
.firstShowcase.content h1,
.firstShowcase.content p{
    margin: 10px 0 20px 0;
}
.secondShowcase{
    padding-top: 10x;
    width: 100%;
    height: 75vh;
    background: url('https://imgs.search.brave.com/aQKr8_n60F-teEZlzKilnPSoJu1o7jnckWl2jxaQUBY/rs:fit:800:521:1/g:ce/aHR0cHM6Ly93d3cu/dmV0ZXJpbmFyaW8u/ZXMvd3AtY29udGVu/dC91cGxvYWRzLzIw/MTkvMTAvZXF1aXAt/dmV0ZXJpbmFyaS04/Njc0XzgwMHB4Lmpw/Zw') no-repeat center;
    background-size: cover;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px -29px 24px 23px rgba(0,88,0,1);
    -moz-box-shadow: 0px -29px 24px 23px rgba(0,88,0,1);
    box-shadow: 0px -29px 24px 23px rgba(0,88,0,1);
}
.secondShowcase.izquierda{
    align-items: left;
}
.secondShowcase.derecha{
    align-items: right;
}
.footer{
    background: #2f3640;
    color: #616161;
    font-size: 150px;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}
